@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

body,
html {
  margin: 0;
  padding: 0;
}

/*------------------------Scroll Bar-----------------------*/
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #fde02f;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #fde02f;
}

/*========================Nav Bar=========================*/
.nav-bar {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 90px;
  background-color: #fff;
  box-shadow: 3px 3px 10px lightslategray;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1;
}

.logo {
  flex: 1;
  font-size: 40px;
  padding: 20px;
  margin-left: 50px;
  font-family: Satisfy;
}

ul.menu {
  flex: 1;
  display: flex;
  flex-flow: row wrap;
}

.menu li {
  flex: 1;
  list-style-type: none;
  font-size: 18px;
  font-family: "Barlow Condensed";
  text-align: center;
}

.menu li a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

.menu li a:hover {
  color: black;
  text-decoration: underline;
}

/*=============================Banner=============================*/
.banner {
  background-image: url("https://res.cloudinary.com/dxssqb6l8/image/upload/v1605294054/young-woman-enjoying-beautiful-scenery-of-lago-di-braies-italy-picjumbo-com_aa0fvw.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /*overflow: hidden;*/
  width: 100%;
  height: 100vh;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner2 {
    background-image: url("https://assets.newatlas.com/dims4/default/a83938c/2147483647/strip/true/crop/1578x1080+0+0/resize/1578x1080!/quality/90/?url=http%3A%2F%2Fnewatlas-brightspot.s3.amazonaws.com%2Farchive%2Fcloud-streamer-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /*overflow: hidden;*/
    width: 100%;
    height: 100vh;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

.banner::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  /*background-size: 100%;*/
}

.banner-text-item {
  position: absolute;
  width: 100%;
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.banner-heading {
  flex: 1;
}

.banner-heading h1 {
  font-size: 100px;
  font-weight: normal;
  color: black;
  font-family: Satisfy;
}


.banner-text-item .form {
  flex: 1;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  width: 70%;
  padding: 1% 2%;
}

.banner-text-item input,
.banner-text-item .date,
.banner-text-item .book {
  padding: 15px;
  margin-right: 9px;
  font-size: 15px;
  font-family: Roboto;
  border-radius: 5px;
  outline: 0;
  border: none;
}

.banner-text-item input {
  width: 50%;
  flex: 2;
}

.banner-text-item .date {
  width: 20%;
  flex: 1;
}

.banner-text-item .book {
  width: 20%;
  flex: 1;
}

.banner-text-item .book {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  padding: 15px;
  cursor: pointer;
  background-color: #fde02f;
  font-size: 16px;
  font-weight: normal;
  font-family: "Barlow Condensed";
  width: 20%;
}


/*------------Zoom in Photos--------------*/
.zoom-img {
  float: left;
  position: relative;
  width: 100%;
  height: 320px;
  overflow: hidden;
}

.zoom-img .img-card {
  position: absolute;
  overflow: hidden;
}

.img-card img {
  -webkit-transition: 0.8s ease;
  transition: 0.8s ease;
}

.card:hover .zoom-img img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


  /*=============================Sihtkohad===============================*/
  .places {
    margin-bottom: 0;
  }

  
  .places-text {
    text-align: center;
    margin-bottom: 50px;
  }
  
  .places-text small {
    font-family: Roboto;
    color: #ffc342;
    font-size: 15px;
    font-weight: bolder;
  }
  
  .places-text h2 {
    font-family: Barlow Condensed;
    font-size: 55px;
    color: #191d34;
    letter-spacing: 1px;
  }
  
  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 30px;
    align-items: center;
    justify-items: center;
    text-align: center;
  }
  
  .card {
    border: 1px solid lightgray;
    box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.3);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 80%;
    height: auto;
  }
  
  .card img {
    max-width: 100%;
    height: 300px;
    border-radius: 8px;
    cursor: pointer;
  }
  
  .cards .text {
    padding: 20px;
    font-family: Barlow Condensed;
    line-height: 50px;
  }
  
  .cards .card-box {
    display: flex;
    flex-flow: row;
    background-color: #fde02f;
    font-size: 18px;
    font-family: Roboto;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .cards .time {
    flex: 1;
  }
  
  .cards .location {
    flex: 1;
  }
  
  .cards .cost {
    color: #4cafad;
    font-size: 20px;
  }
  
 /*=============================pakkumised===============================*/ 

.pealt{
  width: 100%;
  height: 10cm;
}
.kesk {
  padding: 50px 50px 50px 50px;
}
.pakett{
  display: flex;
  align-content: flex-end;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 20px;
}
.pakett h2{
  font-family: Barlow Condensed;
  font-size: 50px;
  color: #191d34;
  letter-spacing: 1px;
}
table {
  width: 100%;
  font-family: Barlow Condensed;
  font-size: 30px;
  color: #191d34;
}
table th {
  background-color: rgb(221, 219, 219);
  font-weight: 100;
}
table td {
  text-align: center;
  padding: 10px 0px 10px 0px;
}


 /*=============================footer===============================*/

 .footer {
    position: fixed;
    margin-top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background-image: url('footer-bg.jpg');
    background-repeat: repeat;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    font-family: Arial, sans-serif;
  }

  .third-footer {
    background-color: #4E65E5;
    color: #fff;
    background-image: url('https://www.princeton.edu/sites/default/files/styles/scale_1440/public/images/2018/01/clouds-19.jpg?itok=ipMqaoRU');
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 0;
    width: 100%;
    }
  
  .contact,
  .newsletter,
  .social {
    flex-basis: 33.33%;
    margin-bottom: 20px;
  }
  
  .contact p {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .contact span {
    display: block;
    margin-bottom: 10px;
  }
  
  .newsletter input[type="email"] {
    flex: 1;
    padding: 8px;
    border-radius: 4px;
    border: none;
    margin-right: 10px;
    font-size: 14px;
  }
  
  .newsletter button {
    background-color: #fde02f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .newsletter button:hover {
    background-color: #fde02f;
  }
  
  .social {
    text-align: center;
  }
  
  .social h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .social-icons {
    display: flex;
    justify-content: center;
  }
  
  .social-icons a {
    display: inline-block;
    margin-right: 10px;
    font-size: 24px;
    color: #fff;
    transition: color 0.2s ease-in-out;
  }
  
  .social-icons a:hover {
    color: #ff6600;
  }
  
  .social-icons a:last-of-type {
    margin-right: 0;
  }
  

   /*=============================teine footer===============================*/


  
  .second-footer {
    background-color: #151414;
    color: #fff;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 0;
    width: 100%;
    }
      
 /* min-mheight: 100vh;  Set the minimum height of the container to 100% of the viewport height */
    
  
